.contactPage { 
    display : flex ; 
    flex-direction : column ; 
    align-items : center ; 
    padding : 2rem ; 
}

.contactHeader { 
    display : flex ; 
    flex-direction : column ;
    align-items : center ; 
    color : black ;
}

.contactForm {  
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}

.formField-name { 
        background-color : white ; 
    }